body {
    margin: 0;
}

/* ------------------------ LAYOUT ------------------------ */

#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(9, 1fr);
    background-color: rgb(239, 242, 241);
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 10;
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:white ;
}

#cart-container {
    grid-row-start: 7;
    grid-row-end: 15;
    grid-column-start: 3;
    grid-column-end: 8;    
    background-color: white;
    border-radius: 10px;
}




/* ------------------------ HEADER ------------------------ */

#welcome-link {
    color:rgb(69, 158, 133);
    font-weight: bold;
    padding-left: 20px;
    text-decoration: none;
}

#cart-link, #bookings-link {
    padding: 0px 30px;
    color: black;
    text-decoration: none;
}


/* ------------------------ CART ------------------------ */

#cart-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart-footer {
    background-color: rgb(0, 21, 62);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

#btn-purchase {
    background-color:rgb(69, 158, 133);
    color: white;
    width: 100px;
    padding: 5px;
    /*margin : 5px 30px;*/
    border-radius: 5px;
    border: none;
}