body {
    height: 100vh;
    margin: 0;
    background-color: rgb(239, 242, 241);
}

/* ------------------------ LAYOUT ------------------------ */



#header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:white ;
    height: 5vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}



/* ------------------------ HEADER ------------------------ */

#header {
    padding-left : 3%;
    padding-right: 3%;
}

#welcome-link {
    color:rgb(69, 158, 133);
    font-weight: bold;
    padding-left: 20px;
    text-decoration: none;
    font-size:large;
}

#cart-link, #bookings-link {
    padding: 0px 20px;
    color: black;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}


#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Styles pour mobile */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        background-color: #f8f9fa;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-links.show {
        display: flex;
    }}


/* ------------------------ BOOKINGS ------------------------ */

#bookings-container {
    width: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre parfaitement */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}


#bookings-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bookings-main span {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 3%;
}

#trips-in-bookings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.tripBooked {
    display: flex;
    justify-content: space-between;
    background-color: #F7F1F0;
    font-size: 13px;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 3%;
    padding: 1%;
}

    #bookings-footer{
        text-align: center;
        padding: 5%;
    }

    #enjoy-message {
        color: rgb(69, 158, 133);
        font-family: Calibri, 'Trebuchet MS', sans-serif;
    }

    

/* #bookings-main{
    font-weight: bold;
}

#bookings-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}






.tripBooked {
    display: flex;
    background-color: #F7F1F0;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
}

.tripBooked p {
    font-size: 13px;
} 