* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}



/* ------------------------ LAYOUT ------------------------ */

#container {
    height: 95vh;
    width: 100%;
    background-image: url('images/background.jpg');
    background-position: center center;
    background-size: cover;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    overflow : hidden;
    box-sizing: border-box; /* Gère correctement marges et paddings */
    }
    

#header {
    /*border: green dotted;*/
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color:white ;
    height: 5vh;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

#description-container {
    /*border: orangered dotted;*/
    display: flex;
    justify-content:center;
    align-items:center;
    height: 20vh;
}




#footer {
    /*border: blue dotted;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* ------------------------ HEADER ------------------------ */

#header {
    padding-left : 3%;
    padding-right: 3%;
}

#welcome-link {
    color:rgb(69, 158, 133);
    font-weight: bold;
    padding-left: 20px;
    text-decoration: none;
    font-size:large;
}

#cart-link, #bookings-link {
    padding: 0px 20px;
    color: black;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
}


#menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

/* Styles pour mobile */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #nav-links {
        display: none;
        flex-direction: column;
        background-color: #f8f9fa;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-links.show {
        display: flex;
    }}


/* ------------------------ DESCRIPTION ------------------------ */

#description {
    text-align: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#description h2 {
    font-weight: lighter;
}

@media (max-width: 768px) {

#description-container {
    padding: 20px;}
}



/* ------------------------ SEARCH ------------------------ */


.input-fields {
    background-color:rgb(239, 242, 241);
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

#search-container div {
    width: 80%;
}

#searchArrival {
    border-top: gray solid 1px;
}

#btn-search {
    background-color:rgb(69, 158, 133);
    color: white;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}


/* Styles pour mobile */
@media (max-width: 768px) {
   
    #nav-links {
        display: none;
        flex-direction: column;
        background-color: #f8f9fa;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-links.show {
        display: flex;
    }


    #search-container div {
        width: 90%;
    }
}




    #search-container {
        /*border: purple dotted;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 20px 15px;
    }




    




/* ------------------------ RESULT ------------------------ */

#textResultSearch {
    text-align: center;
}

.trip-item {
    display: flex;
    background-color: rgb(239, 242, 241);
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
    align-items: center;
}

.trip-item p {
    font-size: 13px;
}

.book-button{
    background-color: rgb(69, 158, 133);
    border: none;
    font-size: 13px;
    color: white;
    padding: 10px;
    border-radius: 15%;
}

#result-container {
    /*border: yellow dotted;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 50px 20px;
    overflow: auto;
}


@media (max-width: 768px) {
    #result-container {
        max-height: 30vh; /* Hauteur ajustée pour mobile */
        overflow-y: auto; /* Permet le défilement vertical */
    }
}


/* ------------------------ BOTH CONTAINER ------------------------ */

#wrapper {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    position: relative; 
}

#bothContainer {
    display: flex; 
    justify-content: space-between; 
    gap: 10vh; 
    width: 80%;
    height: 40vh;
}




#search-container,
#result-container {
    flex: 1;
    border: 1px solid #ccc; 
    padding: 20px; 
    box-sizing: border-box; }


@media (max-width: 768px) {
    #bothContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 40%;
    }}


